# Secrets
*.env
keys.env
.env
.dev.vars

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/

# Node
node_modules/
dist/
.wrangler/

# IDE
.vscode/
.idea/

# Backups
*.backup
*.bak

# Logs
*.log
